/**
 * COLORS
 */
$color-brand: #395C6B;
$color-critical: #E5625E;
$color-weak: #F79D84;
$color-medium: #FAC05E;
$color-good: #BBC2E2;
$color-strong: #99D19C;

$color-text-primary: #33261D;
$color-text-secondary: #22333B;